<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h2>Edit User</h2>
<br>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Enter Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <label for="department">Enter Department: </label>
    <input type="text" th:field="*{department}" id="department"/>

    <label for="salary">Enter Salary: </label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br>
    <input type="submit" value="Update">


</form>

</body>
</html>